
.DS_Store
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Burbuja_Optimizada/burbuja
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Burbuja_Optimizada/salida_burbuja_test1.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Burbuja_Optimizada/salida_burbuja_test2.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Burbuja_Optimizada/salida_burbuja_test3.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Insercion/10mil_numeros.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Insercion/insercion
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Insercion/salida_insercion_test1.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Insercion/salida_insercion_test2.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Insercion/salida_insercion_test3.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Mezcla/10mil_numeros.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Mezcla/mezcla
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Mezcla/salida_mezcla_test1.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Mezcla/salida_mezcla_test2.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Mezcla/salida_mezcla_test3.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Rapido/10mil_numeros.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Rapido/rapido
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Rapido/salida_rapido_test1.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Rapido/salida_rapido_test2.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Rapido/salida_rapido_test3.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Seleccion/10mil_numeros.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Seleccion/salida_seleccion_test1.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Seleccion/salida_seleccion_test2.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Seleccion/salida_seleccion_test3.txt
Ejercicio 2. Problemas de ordenamiento/Algoritmo_Seleccion/seleccion
Ejercicio 3. Problemas de busqueda/Binaria/BusBin
Ejercicio 3. Problemas de busqueda/Binaria/BusBinRec
Ejercicio 3. Problemas de busqueda/Lineal/BusDes
Ejercicio 3. Problemas de busqueda/Lineal/BusOrd
Ejercicio 3. Problemas de busqueda/ordenMezcla
Ejercicio 3. Problemas de busqueda/numeros10millonesOrdenados.txt
Ejercicio 3. Problemas de busqueda/numeros10millones.txt



Ejercicio 4. Busqueda exhaustiva/datos.txt
Ejercicio 4. Busqueda exhaustiva/knapsackGanancia
Ejercicio 4. Busqueda exhaustiva/knapsackObjetos
Ejercicio 5. Backtracking/nReinas
Ejercicio 5. Backtracking/script.sh
.DS_Store
.DS_Store
.DS_Store
Ejercicio 07. Implementando operaciones al TAD Pila/Reporte Implementacion de operaciones al TAD Pila.pdf
Ejercicio 08. Implementacion de operaciones al TAD Cola/Reporte de implementacion de operacion al TAD cola.pdf
Practica 01. Algorimtos de ordenamiento/burbuja
Practica 01. Algorimtos de ordenamiento/numeros1M.txt
/Practica 02. Backtracking/Tests
/Practica 01. Algorimtos de ordenamiento/BurbujaTiempos
Practica 02. Backtracking/.vscode/settings.json
Practica 01. Algorimtos de ordenamiento/scriptBurbuja2.sh
Practica 02. Backtracking/cambioColor
Practica 02. Backtracking/Ignorar/Pruebas.zip
/Practica 02. Backtracking/Ignorar
/Practica 02. Backtracking/Imagenes
/Practica 02. Backtracking/scripts
Practica 02. Backtracking/test11.txt
Practica 02. Backtracking/test12.txt
Practica 02. Backtracking/Tests.zip
Practica 02. Backtracking/testtamaños.txt
Practica 03. Evaluacion de expresiones infijas/comandos.txt
Practica 03. Evaluacion de expresiones infijas/infPosfijo
Ejercicio 8. Implementacion de operaciones al TAD Cola/Reporte de implementacion de operacion al TAD cola.pdf
Ejercicio 7. Implementando operaciones al TAD Pila/Reporte Implementacion de operaciones al TAD Pila.pdf
